* {
	font-family: 'Quicksand', sans-serif;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	color: #777777;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	color: #777777;
	font-size: 20px;
}

a:link {
	color: #777777;
}
a:visited {
	color: #999999;
}
a:hover {
	color: #777777;
}
a:active {
	color: #777777;
}

.cd-form .icon input, .cd-form .icon select, .cd-form .icon textarea {
 	padding-left: 54px !important;
}

.contact {
	text-color: #777777;
}

.btn-danger {
	background-color: #999999;
	border-color: #444444;
}

.btn-success {
	background-color: #999999;
	border-color: #444444;
}